.Container {
  margin: 5px;
}

.SkeletonBox {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  background: linear-gradient(90deg, #2a2f36 25%, #394047 50%, #2a2f36 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 5px;
  overflow: hidden;
}

.SkeletonShimmer {
  width: 100%;
  height: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
