.container {
    padding: 0 4em;
}

.Heading {
    margin-bottom: 20px;
}

.DataContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.Type {
    display: flex;
}

.FilterArea {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.Filter {
    margin-right: 10px;
    color: grey;
}

.Type h5 {
    margin-right: 10px;
    cursor: pointer;
    color: gray;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.Type h5.active {
    border-bottom: 2px solid #b41010;
}
.Type h5:hover {
    color: #fff;
    border-bottom: 2px solid #b41010;
}

.providerHolder {
}

.popupforRelease {
    position: absolute;
    z-index: 10;
    width: 300px;
    padding-top: 10px;
    background-color: gray;
}

.popupforGenre {
    background-color: gray;
    position: absolute;
    width: 500px;
    z-index: 10;
}
    
.genreOption {
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1px;
}

.genreOption:hover {
    background-color: gainsboro;
}